
body {
    position: static;
    background-image: url("https://nwscdn.com/media/catalog/product/cache/all/thumbnail/800x/9df78eab33525d08d6e5fb8d27136e95/f/o/forza_size_5_competition_standard_volleyball_for_all_volleyball_tournaments_and_matches.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light; 
    background-color: #cccccc;
}

.main-header {
    padding: 10px;
    color: rgb(109, 3, 25);
}
.modal-content {
    margin: 15% auto;}